In [1]:


import pandas as pd
import numpy as np
import os
import sys
import csv
import joblib
#import arff

In [11]:
def remove_rare_classes(df, target_column, min_count=10):
    class_counts = df[target_column].value_counts()
    rare_classes = class_counts[class_counts < min_count].index
    print(f"[INFO] Classes supprimées (trop rares) : {list(rare_classes)}")

    return df[~df[target_column].isin(rare_classes)].reset_index(drop=True)

In [10]:
# Specify the file path
adult_train_path = "./data/raw/Adult/all.csv"

adult_all_path_out = "./datasets/private/multiclass datasets/adult/all.csv"
num_lines_to_read = 10

# Detect the delimiter
with open(adult_train_path, 'r') as file:
    sample = file.read(num_lines_to_read)
    dialect = csv.Sniffer().sniff(sample)
    delimiter = dialect.delimiter
# Read the .dat file using pandas and set the header names
# Specify the list of header names
adult_names = [
    "age", 
    "workclass", 
    "fnlwgt", 
    "education", 
    "education-num", 
    "marital-status", 
    "occupation", 
    "relationship", 
    "race", 
    "sex", 
    "capital-gain", 
    "capital-loss", 
    "hours-per-week", 
    "native-country",
    "class"
]
df_adult_train = pd.read_csv(adult_train_path, delimiter=delimiter, index_col=False)
print(df_adult_train["class"].value_counts())

class
0    37155
1    11687
2        1
Name: count, dtype: int64

In [9]:
df_adult_train = remove_rare_classes(df_nursery_train, "class", min_count=5)
print(df_nursery_train["class"].value_counts())

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
1,39,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,0
2,50,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,0
3,38,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,0
4,53,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48839,39,Private,215419.0,Bachelors,13.0,Divorced,Prof-specialty,Not-in-family,White,Female,0.0,0.0,36.0,United-States,0
48840,64,?,321403.0,HS-grad,9.0,Widowed,?,Other-relative,Black,Male,0.0,0.0,40.0,United-States,0
48841,38,Private,374983.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,0
48842,44,Private,83891.0,Bachelors,13.0,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,0.0,40.0,United-States,0
48843,35,Self-emp-inc,182148.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,1