In [1]:
from pandas import read_csv, read_excel

In [24]:
import chardet

In [5]:
read_csv("./datasets/1. UCI Repository/Australian/australian.csv")

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15
0,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [11]:
read_csv("./datasets/1. UCI Repository/German/german.csv")

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20
0,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201,1
1,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201,2
2,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201,1
3,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201,1
4,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,A32,A42,1736,A61,A74,3,A92,A101,4,A121,31,A143,A152,1,A172,1,A191,A201,1
996,30,A32,A41,3857,A61,A73,4,A91,A101,4,A122,40,A143,A152,1,A174,1,A192,A201,1
997,12,A32,A43,804,A61,A75,4,A93,A101,4,A123,38,A143,A152,1,A173,1,A191,A201,1
998,45,A32,A43,1845,A61,A73,4,A93,A101,4,A124,23,A143,A153,1,A173,1,A192,A201,2
999,45,A34,A41,4576,A62,A71,3,A93,A101,4,A123,27,A143,A152,1,A173,1,A191,A201,1

In [13]:
read_csv("./datasets/1. UCI Repository/Japan/crx.csv")

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  00202    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g  00043  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  00280  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  00100    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  00120    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

[690 rows x 16 columns]

In [14]:
read_csv("./datasets/1. UCI Repository/Polish/data/1year.arff.csv")

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.20055,0.20912,0.24866,0.081483,0.18732,0.22822,0.11109,0.532320,0.009020,0.12408,...,0.21043,0.19437,0.057995,0.32528,-0.22197,-0.074235,0.14403,0.01851,0.14088,-0.10375
1,0.37951,0.49988,0.69592,0.307340,0.61323,0.49794,0.64744,0.027059,0.632020,0.83837,...,0.31931,0.49453,0.252370,0.28601,0.99486,0.520500,0.09427,0.75869,0.15582,0.92067
2,0.39641,0.47225,0.26713,0.458790,0.22960,0.35969,0.28971,0.705540,0.053735,0.14204,...,0.28987,0.14058,0.482740,0.57792,-0.28383,0.254950,0.57841,-0.11986,0.68153,-0.34072
3,2.04720,1.94470,1.55480,2.492800,1.40630,1.75020,1.47050,53.954000,1.126300,1.16940,...,1.95650,1.32280,2.912800,3.25720,0.71470,2.209100,7.13560,0.83860,6.27990,0.62128
4,32.35100,14.78600,-1.15230,51.952000,-7.31280,-47.71700,2.53490,299.580000,-37.842000,-91.88300,...,26.73700,44.57300,109.900000,168.70000,-69.36600,106.220000,210.57000,-67.71100,191.28000,-162.57000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,5.13720,3.27320,3.95100,3.614700,4.31580,8.99490,2.90980,82.050000,4.238200,6.49940,...,7.35780,2.36320,4.388000,6.33590,9.77640,1.772000,3.33970,4.58120,1.78350,9.67720
61,82.65800,107.35000,134.27000,86.435000,127.21000,88.44400,129.55000,7.450300,116.500000,144.63000,...,41.09600,140.46000,70.386000,51.18600,109.42000,139.050000,38.79900,147.34000,36.53600,209.39000
62,4.41580,3.40000,2.71850,4.222800,2.86920,4.12690,2.81730,48.991000,3.133000,2.52360,...,8.88170,2.59870,5.185700,7.13080,3.33570,2.625000,9.40750,2.47720,9.99010,1.74320
63,7.42770,60.98700,5.20780,5.549700,7.89800,12.29900,18.35200,2.321700,2.560300,107.67000,...,6.61190,2.66900,4.940600,10.99600,11.48400,1.036100,2.70940,4.87730,6.80870,3.55590
64,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.00000,...,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000

In [15]:
read_csv("./datasets/1. UCI Repository/Polish/data/2year.arff.csv")

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.20235,0.030073,0.25786,0.227160,0.085443,0.28784,0.15382,0.26252,0.079147,0.009901,...,0.056004,-0.18260,-0.105760,-0.30751,0.073671,0.14784,0.132000,0.032697,0.013507,0.15665
1,0.46500,0.595630,0.29949,0.678500,0.380390,0.55225,0.47248,0.45834,0.022400,0.711740,...,0.467710,1.15430,1.127600,1.22230,0.510060,0.66837,0.072311,0.091695,0.761710,0.05509
2,0.24038,0.186680,0.66519,0.042784,0.359230,0.31634,0.31179,0.41704,0.897050,0.065186,...,0.178080,-0.41573,-0.093909,-0.65807,0.279140,0.16778,0.449290,0.669250,-0.249380,0.54639
3,1.51710,1.338200,3.22110,1.082800,1.944400,1.70330,1.68980,1.94060,283.120000,1.148500,...,1.380700,0.58969,0.889170,0.45903,1.547300,1.42660,7.213300,8.298700,0.659790,10.91800
4,-14.54700,-37.859000,71.79900,-88.212000,21.731000,38.80300,-71.98500,47.51100,139.750000,-62.297000,...,-188.620000,-123.32000,-174.440000,-228.21000,18.251000,-0.52080,126.670000,86.471000,-79.650000,284.32000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,5.16550,0.633050,3.19850,5.067500,4.002000,3.15340,7.80930,4.57600,79.203000,4.125300,...,3.716100,11.98000,3.967300,4.62280,6.898500,3.75830,5.105000,4.077200,4.009000,7.13010
61,107.74000,622.660000,65.21500,142.460000,89.058000,110.83000,109.64000,74.05500,1.882300,136.540000,...,133.760000,177.30000,254.360000,349.49000,57.531000,103.93000,18.532000,44.054000,169.350000,29.38600
62,3.38790,0.586190,5.59690,2.562100,4.098400,3.29330,3.32910,4.92880,193.910000,2.673200,...,2.728800,2.05870,1.435000,1.04440,6.344400,3.51190,19.696000,8.285300,2.155300,12.42100
63,5.34400,1.238100,47.46600,3.006600,5.987400,6.33460,6.36920,15.65800,6.179800,2.368000,...,3.603200,5.18210,4.930800,2.87690,15.351000,3.14640,2.977000,3.178100,3.059600,1.71700
64,0.00000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000

In [16]:
read_csv("./datasets/1. UCI Repository/Polish/data/3year.arff.csv")

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.17419,0.14624,0.000595,0.024526,0.18829,0.18206,0.115030,0.009832,0.23895,-0.119860,...,0.14234,0.029271,0.097222,0.033205,0.028909,0.046585,0.15619,-0.15729,0.027226,0.15249
1,0.41299,0.46038,0.226120,0.432360,0.41504,0.55615,0.036659,0.670660,0.55473,0.607330,...,0.58871,0.274010,0.779820,0.455230,0.922690,0.746120,0.25631,1.10950,0.406990,0.57565
2,0.14371,0.28230,0.488390,0.275460,0.34231,0.32191,0.923450,0.135460,0.40697,0.041368,...,0.17675,-0.088058,0.116680,0.167090,-0.259120,0.211030,0.68104,-0.63877,0.361420,0.20026
3,1.34800,1.62940,3.159900,1.783300,1.92790,1.60450,112.630000,1.239300,1.76090,1.068800,...,1.30020,0.392340,1.149600,1.367000,0.684370,1.366300,3.65710,0.42060,1.888000,1.58820
4,-28.98200,2.59520,84.874000,-10.105000,-58.27400,16.31400,55.580000,-107.730000,-22.90700,-37.595000,...,-16.54900,-81.942000,1.369200,-444.220000,-105.250000,-45.173000,82.21500,-236.38000,18.542000,11.38100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,6.28130,4.11030,3.792200,5.052800,7.07560,3.34880,41.783000,4.008400,7.18470,8.304300,...,8.31340,10.366000,3.278600,4.805200,10.385000,3.585100,3.55000,4.47160,13.098000,5.52450
61,84.29100,102.19000,64.846000,98.783000,100.54000,107.24000,6.810200,174.730000,83.72700,73.172000,...,62.39000,103.430000,111.790000,118.020000,146.070000,165.960000,49.24300,361.82000,37.995000,91.79700
62,4.33030,3.57160,5.628700,3.695000,3.63030,3.40360,53.596000,2.088900,4.35940,4.988300,...,5.85030,3.528800,3.265200,3.092700,2.498800,2.199300,7.41230,1.00880,9.606400,3.97620
63,4.03410,5.95000,4.458100,3.484400,4.63750,12.45400,6.494200,3.961600,40.09700,8.398400,...,14.68500,0.542200,24.602000,3.727600,4.682000,5.950300,30.32700,2.07380,16.882000,2.94720
64,0.00000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000

In [17]:
read_csv("./datasets/1. UCI Repository/Polish/data/4year.arff.csv")

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.15929,-0.12743,0.070488,0.13676,-0.11008,0.021539,0.22743,0.038662,0.13103,0.17698,...,-0.14019,0.089707,0.16569,-0.057949,0.009157,0.15639,0.067785,0.016999,0.030305,0.055358
1,0.46240,0.46243,0.235700,0.40538,0.69793,0.584250,0.52266,0.594980,0.47202,0.19359,...,0.84987,0.674170,0.24004,0.953020,0.609650,0.53265,0.076941,0.111940,0.718100,0.039558
2,0.07773,0.26917,0.527810,0.31543,0.18878,0.086614,0.44456,0.070504,0.49350,0.13925,...,-0.07218,0.179000,0.71664,-0.464680,0.258260,0.21938,0.502160,0.660210,-0.201360,0.530520
3,1.16830,1.75170,3.239300,1.87050,1.27130,1.179100,1.87000,1.119100,2.13740,3.77790,...,0.89575,1.292700,3.98550,0.511390,1.423600,1.58870,7.526500,6.975400,0.714790,15.309000
4,-44.85300,7.59700,125.680000,19.11500,-15.34400,-36.394000,-8.67870,-37.640000,31.87600,124.10000,...,-78.99400,-42.807000,98.76800,-157.060000,10.042000,9.71810,181.890000,365.190000,-62.744000,96.916000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,4.99140,3.46290,3.380800,4.22410,2.79250,3.857600,5.24850,8.459300,4.43770,2.49570,...,7.90780,3.466700,3.70290,4.579600,5.003600,4.72930,4.801200,3.524800,3.892100,11.718000
61,119.81000,100.97000,76.076000,88.29900,146.39000,122.700000,94.14100,70.003000,69.48800,51.13300,...,143.72000,158.510000,47.76700,255.510000,84.986000,95.49200,26.223000,63.732000,154.410000,6.632300
62,3.04650,3.61500,4.797800,4.13370,2.49340,2.974600,3.87720,5.214100,5.25270,7.13820,...,2.53960,2.302700,7.64130,1.428500,4.294800,3.82230,13.919000,5.727100,2.363800,55.034000
63,3.05600,3.47250,4.781800,4.64840,15.03600,3.348200,44.53900,9.140800,31.39200,0.44144,...,4.62990,6.725100,42.33900,2.644900,19.823000,3.49140,2.544500,2.759600,3.368900,4.718800
64,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000

In [18]:
read_csv("./datasets/1. UCI Repository/Polish/data/5year.arff.csv")

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.088238,-0.006202,0.13024,-0.089951,0.048179,0.23156,0.099486,0.078518,0.12504,0.293430,...,0.108670,0.042474,0.11272,0.12952,-0.28444,0.006652,0.21482,0.037841,0.040008,0.053581
1,0.554720,0.484650,0.22142,0.887000,0.550410,0.51047,0.599910,0.205460,0.35440,0.586490,...,0.668980,0.716040,0.16038,0.12310,0.65541,0.625450,0.30771,0.167040,0.386630,0.164400
2,0.011340,0.232980,0.57751,0.269270,0.107650,0.47291,0.374890,0.103930,0.31419,0.083392,...,-0.075335,-0.116510,0.53375,0.27575,0.34755,0.146540,0.41810,0.307110,0.445230,0.335170
3,1.020500,1.599800,3.60820,1.522200,1.243700,1.93930,1.652900,2.793900,2.71270,1.169400,...,0.787030,0.768010,4.32810,3.45490,1.53270,1.250700,2.36920,2.845800,2.156600,3.038800
4,-66.520000,6.182500,120.04000,-55.992000,-22.959000,15.10200,19.036000,77.784000,17.94200,-55.152000,...,-46.667000,-46.067000,185.15000,319.67000,-57.62000,-65.204000,0.86927,37.306000,58.587000,38.521000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,4.734300,3.274900,2.98700,3.330200,4.095000,4.92200,2.478400,3.169200,5.74790,5.510400,...,27.832000,15.902000,2.65320,0.92963,8.76170,8.751200,4.62240,10.029000,7.569300,4.585500
61,142.760000,111.140000,71.53100,147.560000,106.430000,102.58000,130.020000,53.575000,59.84100,109.700000,...,56.526000,68.092000,63.67500,283.12000,85.43500,107.770000,85.86200,37.653000,81.884000,50.146000
62,2.556800,3.284100,5.10270,2.473500,3.429400,3.55810,2.807200,6.812900,6.09950,3.327300,...,6.457200,5.360400,5.73230,1.28920,4.27230,3.386900,4.25100,9.693700,4.457500,7.278800
63,3.259700,3.370000,5.61880,5.929900,3.362200,75.94100,31.645000,0.470960,2.22740,3.858200,...,3.165500,4.382700,3.00550,0.23666,NaN,7.359400,4.69420,3.063500,10.104000,2.391200
64,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000

In [25]:
"""
with open("./datasets/1. UCI Repository/Taiwan/default of credit card clients.xls", "rb") as rawdata:
    result = chardet.detect(rawdata.read())
    charenc = result['encoding']
    print(f"l'encodage du fichier de jeu de données de ce concours est : {charenc}")
"""

l'encodage du fichier de jeu de données de ce concours est : None

{'encoding': None, 'confidence': 0.0, 'language': None}

In [8]:
read_csv("./datasets/private/1. UCI Repository/Taiwan/default of credit card clients.csv",index_col=0)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23304,50000,2,2,2,25,0,0,0,0,0,...,38254,38445,39273,1586,1624,1626,1377,1448,1399,0
23305,50000,2,2,1,37,0,0,0,0,0,...,91452,9551,9746,1787,2247,1900,382,195,199,0
23306,100000,2,2,1,42,-2,-2,-2,-2,-2,...,0,0,550,0,3168,0,0,550,0,0
23307,20000,2,3,2,40,3,3,2,0,0,...,18335,10415,8526,0,0,2001,3000,3000,3000,0
23308,160000,2,1,2,30,0,0,0,0,0,...,64274,66198,68126,3000,3000,3000,3000,3000,3000,1