In [1]:
from modules.pipeline import *

modules.preprocessing successfull loaded: 100%|███| 6/6 [00:02<00:00,  2.35it/s]

In [2]:
from collections import Counter

In [3]:
y_pred = load_data_set_from_url("./outputs_lts/LDD/predictions/data_selection_storage/classic_y_pred_2024_08_12_16_52_42.csv", na_values=None, sep=',', encoding='utf-8',index_col=0, verbose=False)
y_pred

     Prediction
0             0
1             0
2             1
3             0
4             0
..          ...
263           0
264           1
265           1
266           0
267           0

[268 rows x 1 columns]

In [4]:
y_real = load_data_set_from_url("./outputs_lts/LDD/data_selection_storage/classic_y_test_2024_08_12_16_52_42.csv", na_values=None, sep=',', encoding='utf-8',index_col=0, verbose=False)
y_real

      Status
936        0
728        0
1306       1
924        0
137        0
...      ...
224        0
1244       1
1086       1
912        0
534        0

[268 rows x 1 columns]

In [5]:
cfm = compute_confusion_matrix(list(y_real.Status), list(y_pred.Prediction), list(np.unique(list(y_real.Status))))

In [6]:
dict(Counter(list(y_real.Status)))

{0: 204, 1: 64}

In [7]:
dict(Counter(list(y_pred.Prediction)))

{0: 204, 1: 64}

In [8]:
cfm

[[204, 0], [0, 64]]

In [12]:
f1_score_0(cfm)

1.0

# function to fix metric's values

In [15]:
def fix_metric_values(outputs_name,cwd):
    # récupérer tous les nom de dossier de resultats
    data_result_folder_name = [dirnames for _, dirnames, _ in os.walk(f'{cwd}/{outputs_name}')][0]
    # parcourir les dossiers
    for folder_name in data_result_folder_name:
        # mettre a jour les resultats classique d'abord
        
    return data_result_folder_name

In [16]:
fix_metric_values('outputs_lts',os.getcwd())

['LFD', 'CRD', 'GER', 'LD4', 'LDD']