In [2]:
import pandas as pd

In [2]:
data = pd.read_csv("./datasets/private/1. UCI Repository/German/german.csv")
print(f"""
{data.info()}
{data.Class.value_counts()}
sum of unique columns modalities {[{col:len(data[col].unique())} for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['Class'])]} -> {sum([len(data[col].unique()) for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['Class'])])}
""")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Attribute_1   1000 non-null   object
 1   Attribute_2   1000 non-null   int64
 2   Attribute_3   1000 non-null   object
 3   Attribute_4   1000 non-null   object
 4   Attribute_5   1000 non-null   int64
 5   Attribute_6   1000 non-null   object
 6   Attribute_7   1000 non-null   object
 7   Attribute_8   1000 non-null   int64
 8   Attribute_9   1000 non-null   object
 9   Attribute_10  1000 non-null   object
 10  Attribute_11  1000 non-null   int64
 11  Attribute_12  1000 non-null   object
 12  Attribute_13  1000 non-null   int64
 13  Attribute_14  1000 non-null   object
 14  Attribute_15  1000 non-null   object
 15  Attribute_16  1000 non-null   int64
 16  Attribute_17  1000 non-null   object
 17  Attribute_18  1000 non-null   int64
 18  Attribute_19  1000 non-null   object
 19  Attribute_20  1000 non-null   object
 20  Class         1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

None
1    700
2    300
Name: Class, dtype: int64
sum of unique columns modalities [{'Attribute_1': 4}, {'Attribute_3': 5}, {'Attribute_4': 10}, {'Attribute_6': 5}, {'Attribute_7': 5}, {'Attribute_9': 4}, {'Attribute_10': 3}, {'Attribute_12': 4}, {'Attribute_14': 3}, {'Attribute_15': 3}, {'Attribute_17': 4}, {'Attribute_19': 2}, {'Attribute_20': 2}] -> 54

In [4]:
data = pd.read_csv("./datasets/private/1. UCI Repository/Japan/crx.csv")
print(f"""
{data.info()}
{data['A16'].value_counts()}
sum of unique columns modalities {[{col:len(data[col].unique())} for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['A16','A2','A14','A3','A8','A11','A15'])]} -> {sum([len(data[col].unique()) for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['A16','A2','A14','A3','A8','A11','A15'])])}
""")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    object
 1   A2      690 non-null    object
 2   A3      690 non-null    float64
 3   A4      690 non-null    object
 4   A5      690 non-null    object
 5   A6      690 non-null    object
 6   A7      690 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    object
 14  A15     690 non-null    int64
 15  A16     690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

None
-    383
+    307
Name: A16, dtype: int64
sum of unique columns modalities [{'A1': 3}, {'A4': 4}, {'A5': 4}, {'A6': 15}, {'A7': 10}, {'A9': 2}, {'A10': 2}, {'A12': 2}, {'A13': 3}] -> 45

In [4]:
data = pd.read_csv("./datasets/credit_risk_dataset.csv")
print(f"""
{data.info()}
{data['loan_status'].value_counts()}
sum of unique columns modalities {[{col:len(data[col].unique())} for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['loan_status','loan_grade'])]} --> {sum([len(data[col].unique()) for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['loan_status','loan_grade'])])}
""")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

None
0    25473
1     7108
Name: loan_status, dtype: int64
sum of unique columns modalities [{'person_home_ownership': 4}, {'loan_intent': 6}, {'cb_person_default_on_file': 2}] --> 12

In [5]:
data = pd.read_excel("./datasets/New_datas_first.xlsx")
print(f"""
{data.info()}
{data['ENIMPAYEOUPAS'].value_counts()}
sum of unique columns modalities {[{col:len(data[col].unique())} for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['Motif','ENIMPAYEOUPAS'])]} --> {sum([len(data[col].unique()) for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['Motif','ENIMPAYEOUPAS'])])}
""")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28952 entries, 0 to 28951
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           28952 non-null  object
 1   Fonction       28952 non-null  object
 2   Civilité       28952 non-null  object
 3   Sit.Matrim     28952 non-null  object
 4   Montant        28952 non-null  float64
 5   Nbreech.       28952 non-null  int64
 6   Taux           28952 non-null  int64
 7   ancienneté     28952 non-null  int64
 8   age            28952 non-null  int64
 9   Mep_Deb        28952 non-null  int64
 10  Deb_Prem_Ech   28952 non-null  int64
 11  Durée          28952 non-null  int64
 12  Motif          28952 non-null  object
 13  ENIMPAYEOUPAS  28952 non-null  object
dtypes: float64(1), int64(7), object(6)
memory usage: 3.1+ MB

None
PAYE      21769
IMPAYE     7183
Name: ENIMPAYEOUPAS, dtype: int64
sum of unique columns modalities [{'Type': 14}, {'Fonction': 28}, {'Civilité': 4}, {'Sit.Matrim': 5}] --> 51

In [6]:
data = pd.read_csv("./datasets/private/3. Kaggle/credit-card-econometrics/AER_credit_card_data.csv")
print(f"""
{data.info()}
{data['card'].value_counts()}
sum of unique columns modalities {[{col:len(data[col].unique())} for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['card'])]} --> {sum([len(data[col].unique()) for col in data.columns.to_list() if (data[col].dtype == 'object') and not(col in ['card'])])}
""")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   card         1319 non-null   object
 1   reports      1319 non-null   int64
 2   age          1319 non-null   float64
 3   income       1319 non-null   float64
 4   share        1319 non-null   float64
 5   expenditure  1319 non-null   float64
 6   owner        1319 non-null   object
 7   selfemp      1319 non-null   object
 8   dependents   1319 non-null   int64
 9   months       1319 non-null   int64
 10  majorcards   1319 non-null   int64
 11  active       1319 non-null   int64
dtypes: float64(4), int64(5), object(3)
memory usage: 123.8+ KB

None
yes    1023
no      296
Name: card, dtype: int64
sum of unique columns modalities [{'owner': 2}, {'selfemp': 2}] --> 4